
name: Track GitHub Traffic

on:
  schedule:
    - cron: "* * * * *"
  workflow_dispatch:

jobs:
  update_traffic:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: pip install requests pandas plotly

    - name: Run fetch script
      env:
        TOKEN: ${{ secrets.GH_TOKEN }}
      run: python scripts/fetch.py

    - name: Commit changes
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add .
        git commit -m "Daily traffic update" || echo "No changes"
        git push
